/**
 * Site Variables
 */

$color-blue: #0000ff;


$color-text: #444;




/* $. Typography
\*----------------------------------------------------------------*/

$font: 'Roboto', sans-serif;

$weight-light:	 300;
$weight-normal:  400;
$weight-medium:  500;
$weight-bold:    700;
$weight-black:   900;



/* $. Layout
\*----------------------------------------------------------------*/

$base: 1em;



/* $. Breakpoints
\*----------------------------------------------------------------*/

$bp1: 30em;
$bp2: 48em;
$bp3: 62em;
$bp4: 78em;
$bp5: 87em;



/* $. Headings
\*----------------------------------------------------------------*/

$h1: 2rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1rem;
$h5: .875rem;
