/**
 * Site Variables
 */

$color-grey-1: #141414;
$color-grey-2: #252525;
$color-grey-3: #444444;
$color-grey-4: #676767;
$color-grey-5: #999999;
$color-grey-6: #cccccc;
$color-grey-7: #dedede;
$color-grey-8: #efefef;


$color-text: #444;
$color-link: #676767;




/* $. Typography
\*----------------------------------------------------------------*/

$font: 'Roboto', sans-serif;

$weight-light:	 300;
$weight-normal:  400;
$weight-medium:  500;
$weight-bold:    700;
$weight-black:   900;



/* $. Layout
\*----------------------------------------------------------------*/

$base: 1em;



/* $. Breakpoints
\*----------------------------------------------------------------*/

$bp1: 30em;
$bp2: 48em;
$bp3: 62em;
$bp4: 78em;
$bp5: 87em;



/* $. Headings
\*----------------------------------------------------------------*/

$h1: 2.5rem;
$h2: 2rem;
$h3: 1.5rem;
$h4: 1.25rem;
$h5: 1.5rem;
$h6: .875rem;
