/**
 * Breadcrumb
 */

.breadcrumbs {
    position: relative;
    margin: 0;
    font-size: .85rem;
    margin-left: -$base/2;
    padding-top: $base;

    @include respond-min($bp3) {
       // padding-top: $base;
    }

    &> span {
    	display: inline-block;
		margin: 0 $base/2;
    }
}
